doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash
html(lang="en-US")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Mocha tests
        script(src="/js/lib/jquery.js")
            //- подключаем стили Mocha, для отображения результатов
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.css")
            //- подключаем библиотеку Mocha
        script(src="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.js")
            //- настраиваем Mocha: предстоит BDD-тестирование
        script.
            mocha.setup('bdd');

            //- подключаем chai
        script(src="https://cdnjs.cloudflare.com/ajax/libs/chai/2.0.0/chai.js").
            //- в chai есть много всего, выносим assert в глобальную область
            var assert = chai.assert;
    body
        script.
            function pow(x, n) {
                /* код функции, пока что пусто */
            }

            //- в этом скрипте находятся спеки
        script(src="/js/tests/mocha_desc.js")

            //- в элементе с id="mocha" будут результаты тестов
        div#mocha

            //- запустить тесты!
        script.
            mocha.run();
