doctype html
// htmllint indent-width=2 line-end-style=false class-style=dash
- var HEADER = "Visual Metronome"
- var TITLE = "SuperCollider Visual Metronome"
html(lang="en-US")
    head
        include pug/meta.pug
    body
        include pug/header.pug
        .container-fluid.vmetro
            .vmetro-area

                #bar-number -1

                #mark

                #beats

        include pug/footer.pug

        script(type='text/javascript').
            app_vmetro_run();
