$timer-color: #1DABB8;

.timer-ref {
    background-color: $timer-color ! important;;
}

.timer {
    color: $timer-color;
}

#timer_text {
    font-size: 10em;
    text-align: center;
    width:95vw;
}

button.timer-button {
    width: 25%;
    margin-left: 10px;
    height: 100px;
    height: 15vh;
}

#timerControl {
    text-align: center;
    margin: 0 0 10px 0;
}
