meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
link(rel="stylesheet", media="screen", href="/css/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet", media="screen", href="/css/bootstrap-slider.min.css")
link(rel="stylesheet", media="screen", href="/css/global.css")
link(rel="stylesheet", media="screen", href="/css/open-sans/open-sans.css")
title #{TITLE}
script(src="/js/lib/jquery.min.js")
script(src="/css/bootstrap/js/bootstrap.min.js")
script(src="/js/lib/bootstrap-slider.min.js")
script(src="/js/lib/nexusUI.js")
script(src="/js/bundle.js")
//- script(src="/js/lib/nexusUI.min.js")
//- script(src="http://raw.githubusercontent.com/lsu-emdm/nexusUI/master/dist/nexusUI.js")
